[submodule "src/extern/pybind11"]
	path = src/extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/extern/cub"]
	path = src/extern/cub
	url = https://github.com/NVlabs/cub.git
[submodule "src/extern/pugixml"]
	path = src/extern/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "backward-cpp"]
	path = src/extern/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "units/extern/googletest"]
	path = units/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "src/extern/variant"]
	path = src/extern/variant
	url = https://github.com/mpark/variant.git
