*.out.txt
h5
/atest.log

/bindings/log_00000.log
/bindings/log_00001.log
/bindings/pos.txt
/bounce/membrane/log_00000.log
/bounce/membrane/log_00001.log
/bounce/membrane/rbc_mesh.off
/bounce/rigid/log_00000.log
/bounce/rigid/log_00001.log
/bounce/rigid/log_00002.log
/bounce/rigid/log_00003.log
/bounce/rigid/stats/
/bounce/rod/log_00000.log
/bounce/rod/log_00001.log
/clist/log_00000.log
/clist/log_00001.log
/clist/stats.csv
/contact/log_00000.log
/contact/log_00001.log
/contact/pos.txt
/contact/rbc_mesh.off
/contact/stats/
/doc_scripts/log_00000.log
/doc_scripts/log_00001.log
/doc_scripts/rbc_mesh.off
/doc_scripts/rigid_coords.txt
/doc_scripts/sphere_mesh.off
/dump/faces.txt
/dump/log_00000.log
/dump/log_00001.log
/dump/log_00002.log
/dump/log_00003.log
/dump/rbc_mesh.off
/dump/stats.csv
/dump/stats/
/dump/vertices.txt
/flow/log_00000.log
/flow/log_00001.log
/flow/stats.csv
/flow/vcont.csv
/fsi/log_00000.log
/fsi/log_00001.log
/fsi/pos.txt
/fsi/rbc_mesh.off
/fsi/stats/
/ic/log_00000.log
/ic/log_00001.log
/ic/pos.ic.txt
/ic/vel.ic.txt
/md/log_0000?.log
/md/temperature1.txt
/md/temperature2.txt
/md/snapshot/
/mdpd/log_00000.log
/mdpd/log_00001.log
/mdpd/vcont.csv
/mdpd/stats.csv
/membrane/log_00000.log
/membrane/log_00001.log
/membrane/rbc_mesh.off
/membrane/sphere_mesh.off
/mpi/log_00000.log
/mpi/log_00001.log
/mpi/log_00002.log
/mpi/log_00003.log
/mpi/stats1.csv
/mpi/stats2.csv
/object_belonging/log_00000.log
/object_belonging/pos.inner.txt
/object_belonging/rbc_mesh.off
/plugins/anchor/
/plugins/force/
/plugins/log_00000.log
/plugins/log_00001.log
/plugins/log_00002.log
/plugins/log_00003.log
/plugins/msd/
/plugins/pos.ic.txt
/plugins/rdf/
/plugins/stats/
/plugins/vacf/
/plugins/vel.ic.txt
/python/log_00000.log
/python/log_00001.log
/python/snapshot/
/restart/initial.txt
/restart/log_00000.log
/restart/log_00001.log
/restart/log_00002.log
/restart/log_00003.log
/restart/log_00004.log
/restart/log_00005.log
/restart/log_00006.log
/restart/log_00007.log
/restart/parts.txt
/restart/pos.txt
/restart/rbc_mesh.off
/restart/restart/
/restart/restart2/
/restart/stats/
/rigids/log_00000.log
/rigids/log_00001.log
/rigids/log_00002.log
/rigids/log_00003.log
/rigids/log_00004.log
/rigids/log_00005.log
/rigids/log_00006.log
/rigids/log_00007.log
/rigids/log_00008.log
/rigids/log_00009.log
/rigids/log_00010.log
/rigids/log_00011.log
/rigids/pos.txt
/rigids/rbc_mesh.off
/rigids/stats/
/rod/log_00000.log
/rod/log_00001.log
/rod/pos.rod.txt
/sdpd/log_00000.log
/sdpd/log_00001.log
/sdpd/pos.txt
/sdpd/stats.csv
/sdpd/stats/
/snapshot/log_00000.log
/snapshot/log_00001.log
/snapshot/log_00002.log
/snapshot/log_00003.log
/snapshot/stats.csv
/snapshot/periodic_snapshots/
/snapshot/snapshot1/
/snapshot/snapshot2/
/stress/log_00000.log
/stress/log_00001.log
/stress/pressure.txt
/stress/pressure/
/walls/analytic/log_00000.log
/walls/analytic/log_00001.log
/walls/analytic/vcont.csv
/walls/log_00000.log
/walls/log_00001.log
/walls/sdf/log_00000.log
/walls/sdf/log_00001.log
/walls/sdf/vcont.csv
/walls/volume/log_00000.log
/walls/volume/volume.txt
/walls/wallForceHi.txt
/walls/wallForceLo.txt
